.botao{
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 28px;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    transition: 200ms ease-in-out;
}

.botao:hover{
    background-color: #15205a;
}